<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explode-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,444}</string>
                <key>spriteSourceSize</key>
                <string>{496,444}</string>
                <key>textureRect</key>
                <string>{{0,0},{496,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explode-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,444}</string>
                <key>spriteSourceSize</key>
                <string>{496,444}</string>
                <key>textureRect</key>
                <string>{{496,0},{496,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explode-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,444}</string>
                <key>spriteSourceSize</key>
                <string>{496,444}</string>
                <key>textureRect</key>
                <string>{{0,444},{496,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explode-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,444}</string>
                <key>spriteSourceSize</key>
                <string>{496,444}</string>
                <key>textureRect</key>
                <string>{{496,444},{496,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explode-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,444}</string>
                <key>spriteSourceSize</key>
                <string>{496,444}</string>
                <key>textureRect</key>
                <string>{{0,888},{496,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>explode.png</string>
            <key>size</key>
            <string>{992,1332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c09bc68eb575fb8913583e796ce178d:7e42c9adb4836039a8ecab28b94386f0:9a6b6e03bb2f7ee660b9781489ce2d1f$</string>
            <key>textureFileName</key>
            <string>explode.png</string>
        </dict>
    </dict>
</plist>
