<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pink-monster-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{619,306}</string>
                <key>spriteSourceSize</key>
                <string>{663,330}</string>
                <key>textureRect</key>
                <string>{{1321,1},{619,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pink-monster-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,306}</string>
                <key>spriteSourceSize</key>
                <string>{663,330}</string>
                <key>textureRect</key>
                <string>{{662,309},{625,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pink-monster-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{659,306}</string>
                <key>spriteSourceSize</key>
                <string>{663,330}</string>
                <key>textureRect</key>
                <string>{{1,311},{659,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pink-monster-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{657,308}</string>
                <key>spriteSourceSize</key>
                <string>{663,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{657,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pink-monster-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{659,306}</string>
                <key>spriteSourceSize</key>
                <string>{663,330}</string>
                <key>textureRect</key>
                <string>{{660,1},{659,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pink-monster-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,306}</string>
                <key>spriteSourceSize</key>
                <string>{663,330}</string>
                <key>textureRect</key>
                <string>{{1289,309},{625,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pink_monster.png</string>
            <key>size</key>
            <string>{1941,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2e28905f3fa05c43857ec82049fdfed:1640a4f0b4548d315a6bc7dee142ad7b:59dd598b3fd7bb0b5f019e337a705de1$</string>
            <key>textureFileName</key>
            <string>pink_monster.png</string>
        </dict>
    </dict>
</plist>
